.body {
  background-image: linear-gradient(50deg, #d3d7f4 0, #d7d6f3 8.33%, #dbd5f2 16.67%, #e0d4f0 25%, #e4d3ed 33.33%, #e8d2eb 41.67%, #ebd1e8 50%, #eed0e5 58.33%, #f1d0e2 66.67%, #f3cfde 75%, #f5cfdb 83.33%, #f6cfd7 91.67%, #f7cfd4 100%);
}


.calculadora {
    margin-top: 40px;
    border: solid 1px rgb(0, 0, 0);
    padding: 20px;
    background-color: #d812a3;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
  }

  .btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 1px 1px #000;
  }

  .clear {
    width: 130px;
  }

  .enter {
    height: 110px;
  }

  .zero {
    width: 130px;
  }

  .resultado {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
  }
